In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data_normalizada/custo_producao.csv")

df

,empreendimento,ano,mes,ano_mes,produto,id_produto,safra,uf,municipio,cod_ibge,unidade_comercializacao,vlr_custo_variavel_ha,vlr_custo_variavel_unidade,vlr_custo_fixo_ha,vlr_custo_fixo_unidade,vlr_renda_fator_ha,vlr_renda_fator_unidade
0,AGRICULTURA EMPRESARIAL,2018,1,201801,FEIJAO COMUM CORES,8778,TODAS,SP,TAQUARITUBA-SP ...,3553807,60 kg,4565.34,99.58,1076.76,23.50,1353.94,29.54
1,AGRICULTURA EMPRESARIAL,2018,3,201803,CAFE,7498,TODAS,ES,VENDA NOVA DO IMIGRANTE-ES ...,3205069,60 kg,10501.40,350.02,814.59,27.15,631.22,21.05
2,AGRICULTURA EMPRESARIAL,2018,3,201803,FEIJAO COMUM CORES,8778,TODAS,SP,TAQUARITUBA-SP ...,3553807,60 kg,4403.06,96.08,1625.78,35.48,1510.69,32.96
3,AGRICULTURA EMPRESARIAL,2018,5,201805,FEIJAO COMUM CORES,8778,TODAS,SP,TAQUARITUBA-SP ...,3553807,60 kg,4378.01,95.53,999.68,21.80,1284.10,28.01
4,AGRICULTURA EMPRESARIAL,2018,7,201807,CAFE,7090,TODAS,BA,ITABELA-BA ...,2914653,60 kg,15885.67,219.11,1306.53,18.03,401.42,5.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,SOCIOBIODIVERSIDADE,2024,8,202408,PINHAO,11145,TODAS,PR,GUARAPUAVA-PR ...,4109401,kg,7451.76,3.10,25.75,0.01,804.72,0.34
1384,SOCIOBIODIVERSIDADE,2024,8,202408,PINHAO,11145,TODAS,SC,SÃO JOAQUIM-SC ...,4216503,kg,13646.08,6.50,42.91,0.02,939.43,0.45
1385,SOCIOBIODIVERSIDADE,2024,8,202408,UMBU,9066,TODAS,BA,MANOEL VITORINO-BA ...,2920403,kg,23866.77,1.06,22.52,0.00,7.53,0.00
1386,SOCIOBIODIVERSIDADE,2024,8,202408,UMBU,9066,TODAS,MG,LONTRA-MG ...,3138658,kg,18321.91,2.04,19.31,0.00,85.08,0.01
1387,SOCIOBIODIVERSIDADE,2024,8,202408,UMBU,9066,TODAS,PB,PICUÍ-PB ...,2511400,kg,6464.86,1.12,25.75,0.00,79.76,0.01

In [3]:
df.columns

Index(['empreendimento', 'ano', 'mes', 'ano_mes', 'produto', 'id_produto',
       'safra', 'uf', 'municipio', 'cod_ibge', 'unidade_comercializacao',
       'vlr_custo_variavel_ha', 'vlr_custo_variavel_unidade',
       'vlr_custo_fixo_ha', 'vlr_custo_fixo_unidade', 'vlr_renda_fator_ha',
       'vlr_renda_fator_unidade'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   empreendimento              1388 non-null   object
 1   ano                         1388 non-null   int64
 2   mes                         1388 non-null   int64
 3   ano_mes                     1388 non-null   int64
 4   produto                     1388 non-null   object
 5   id_produto                  1388 non-null   int64
 6   safra                       1388 non-null   object
 7   uf                          1388 non-null   object
 8   municipio                   1388 non-null   object
 9   cod_ibge                    1388 non-null   int64
 10  unidade_comercializacao     1388 non-null   object
 11  vlr_custo_variavel_ha       1388 non-null   float64
 12  vlr_custo_variavel_unidade  1388 non-null   float64
 13  vlr_custo_fixo_ha           1388 non-null   float64
 14  vlr_custo_fixo_unidade      1388 non-null   float64
 15  vlr_renda_fator_ha          1388 non-null   float64
 16  vlr_renda_fator_unidade     1388 non-null   float64
dtypes: float64(6), int64(5), object(6)
memory usage: 184.5+ KB

In [7]:
df['produto'].describe()

count                                         1388
unique                                          48
top       MILHO
freq                                           243
Name: produto, dtype: object